body{
    font-family: 'Raleway', sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    line-height: 1.6;
    margin: 20px;

    }
    
section, header {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 5rem;
}
p1 {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    color: #FFEF5A;
    font-weight: 500;
}

p strong {
    color: #05aefc;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    color: #C274F7;
    margin-bottom: 10px;
}
p {
    margin-bottom: 15px;
    font-size: 1rem;
}
blockquote {
    font-style: italic;
    color: #C274F7;
    border-left: 4px solid #05aefc;
    padding-left: 10px;
    margin: 20px 0;
}
hr {
    margin: 3rem 0 5rem 0;
}

a {
    color: #6a2598;
    text-decoration:underline;
    border-bottom: 2px solid #6a2598;
    font-weight: 600;
}

a:hover { color:#FFEF5A; }

nav {
    display: flex;
    padding: 1.5rem 0;
    font-size: 0.8rem;
}

.responsivenav {
    
background: #C274F7;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gridimage {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


nav {
    display: flex;
    padding: 1.5rem 0;
    font-size: 0.8rem;
}

nav ul {
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
    padding-right: 70px;
}
nav ul li {
    display: inline;
    margin: 5px;
}
nav a {
    border-bottom: none;
    color: #6a2598;
    padding: 10px;
}
nav a:hover {
    color: #FFEF5A;
    transition: all 0.3s ease-in-out;
}
footer {
    background:#C274F7;
    color: #f7f7f7;
    text-align: center;
    font-size: 0.8rem;
    padding: 4rem 0;
}

footer a {
    color: #6a2598;
}

footer a:hover {
    color: #f7f7f7;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
@media (max-width: 600px) {
header h1 {
    font-size: 4rem;
}

.gridimage {
    row-gap: 10px;
}
      }

